// This file is loaded as a global CSS after Vuetify styles
html,
body,
.v-application {
    font-family: 'Montserrat', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6 {
    font-family: 'Montserrat', sans-serif !important;
}